<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
        </p>
      </div>
    </div>

  </article>

</div>



<div class="card w-80">
  <div class="card-body p-4">

        <p class="float-left"> <%= comment.comment %> </p>

          <%= link_to 'Delete', [comment.post, comment],
                    method: :delete, class: "btn btn-danger float-right", data: { confirm: 'Are you sure?' } %>
  </div>
</div>
