<%= simple_form_for([@post, @post.comments.build]) do |f| %>

  <div class="form-group">
        <%= f.input :comment, input_html: { class: 'form-control text optional' }, wrapper: false, label_html: { class: 'label' }, label:false %>
  </div>

    <div class="text-center">
      <%= f.button :submit, 'Leave a reply', class: "btn btn-primary" %>
    </div>
<% end %>


